#header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  text-align: center;
  height: 80px;
  background: #555;
  opacity: 0.9;
}

.left-part {
  position: fixed;
  right: 75px;
  top: 15px;
}

.right-div {
  position: fixed;
  right: 15px;
  top: 15px;
}

.left-icon {
  height: 50px;
  width: auto;
  -webkit-filter: invert(100%);
}

.right-icon {
  height: 50px;
  width: auto;
  -webkit-filter: invert(100%);
}

.link-text {
  position: fixed;
  right: 25px;
  top: 20px;
  color: white;
  text-decoration: none;
}

.main-text {
  position: fixed;
  right: 84px;
  top: 20px;
  color: white;
  text-decoration: none;
}

.profile-text {
  position: fixed;
  right: 78px;
  top: 20px;
  color: white;
  text-decoration: none;
}

.register-text {
  position: fixed;
  right: 15px;
  top: 28px;
  color: white;
  text-decoration: none;
}

.link-text:hover {
  text-decoration: underline;
}

.main-text:hover {
  text-decoration: underline;
}

.profile-text:hover {
  text-decoration: underline;
}

.register-text:hover {
  text-decoration: underline;
}
