<div class="content" id="login">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" id="login-form">

    <header><b>--- Welcome back! ---</b></header>

    <input type="text" placeholder="Username" formControlName="username" (change)="removeMsg()">
    <span class="error-message" *ngIf="submitted && invalid">
      Please enter both of your username and your password!
    </span>
    <span class="error-message" *ngIf="submitted && notMatch">
      Username and password do not match!
    </span>
    <input type="password" placeholder="Password" formControlName="password" id="last_field" (change)="removeMsg()">

    <div class="buttons">
      <input type="submit" class="submit" value="Log In">
    </div>

  </form>
</div>
