
<input type="text" name="username" placeholder="Account Name" pattern="^[a-zA-Z]([a-zA-Z0-9]+)*" id="username" required>
<input type="text" name="display" placeholder="Display Name (Optional)">
<input type="text" name="email" placeholder="E-mail Address"
       pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+" required>
<input type="text" name="phone" placeholder="Phone Number: 000-000-0000" pattern="^[1-9]\d{2}-\d{3}-\d{4}" required>
<!-- The "date" type does not work on Safari or IE -->
<input type="date" name="bday" placeholder="Date of Birth: YYYY-MM-DD" pattern="^\d{4}[\/\-](0?[1-9]|1[012])[\/\-](0?[1-9]|[12][0-9]|3[01])" required>
<input type="text" name="zip" placeholder="Zip Code: XXXXX" pattern="^\d{5}$" required>
<input type="password" name="pswd_1" placeholder="Password" required>
<input type="password" name="pswd_2" placeholder="Confirm Password" id="last_field" required>

<input type="hidden" id="timestamp" name="time">

<div class="buttons">
  <input type="submit" class="submit" value="Submit">
  <input type="reset" class="clear" value="Clear">
</div>
