.main-page {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 1150px;
}

.dashboard {
  margin-left: 22em;
}

.userpane {
  position: fixed;
  height: 500px !important;
  width: 20.5em !important;
  margin-right: 0;
}

.following {
  height: 500px !important;
  width: 20.5em !important;
  overflow-y: scroll;
  background-color: #F6F6F6;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.user-grid {
  grid-gap: 49px;
}

.post-grid {
  width: 800px;
  grid-gap: 20px;
}

@media (max-width: 1300px) {
  .main-page {
    width: 852px;
  }

  .post-grid {
    width: 500px;
    flex-wrap: wrap;
    line-height: 1.2em;
  }

  .footer {
    width: 500px !important;
  }
}

.footer {
  margin: 50px 0;
  text-align: center;
}

.accordion_search_bar_container {
  position: relative;
  width: 100%;
  left: 50%;
  margin: 20px auto;
  transform: translateX(-50%);
  font-size: 20px;
  bottom: 0;
}

.accordion_search_bar_container:after {
  content: url('../../assets/images/search-icon.png');
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.accordion_search_bar_container .accordion_search_bar {
  display: block;
  width: 100%;
  padding: 7px 10px;
  border: 2px solid #cacaca;
  border-radius: 25px;
  outline: 0;
}

.input-box {
  text-align: center;
  align-items: center;
}

.input-style-post {
  background-color: #ffffff;
  opacity: 0.8;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  line-height: 40px;
  width: 100%;
}

.input-button {
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  display: inline-block;
  border: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}

.input-btn {
  position: relative;
  overflow: hidden;
  display: inline-block;
  background: lightpink;
  color: #fff;
  text-align: center;
  padding: 10px 15px;
  border: 1px solid white;
  cursor: pointer;
  width: 20%;
  height: 25px;
}

.input-btn input {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}

.btn {
  background: lightpink;
  color: #fff;
  text-align: center;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  height: 25px;
  margin-left: 50px;
}

.btn {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn input {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}

.user_search_bar_container {
  width: 19em !important;
  margin-top: 30px;
  margin-left: 11px;
}

.user_search_bar {
  display: block;
  width: 100%;
  padding: 7px 10px;
  border: 2px solid #cacaca;
  border-radius: 25px;
  outline: 0;
}

#add-user {
  width: 16em !important;
  margin: 10px;
}

.profile-msg {
  margin: 20px;
}
