.main-page {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

.dashboard {
  margin-left: 22em;
}

.following {
  position: fixed;
  height: 500px !important;
  width: auto;
  overflow-y: scroll;
  margin-right: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.user-grid {
  grid-gap: 49px;
}

.post-grid {
  width: 800px;
  grid-gap: 20px;
}

@media (max-width: 1300px) {
  .post-grid {
    width: 500px;
    flex-wrap: wrap;
    line-height: 1.2em;
  }

  .footer {
    width: 500px !important;
  }
}

.footer {
  margin: 50px 0;
  text-align: center;
}

