<div class="content main-page">

  <div class="input-box">
    <textarea class="input-style-post" placeholder="What's on your mind?" rows="5" [(ngModel)]="postText"></textarea>
    <div class="btn">
      <span>upload</span>
      <input class="upload-image-input input-button" type="file">
    </div>
    <div class="btn">
      <span (click)="createPost(this.postText, this.defaultImage, false, 0);this.postText = '';">make post</span>
    </div>
    <div class="btn">
      <span (click)="changeStatus(postText);this.postText = '';">make status</span>
    </div>
    <div class="btn">
      <span (click)="this.postText = '';">cancel</span>
    </div>
  </div>

  <div id="accordion_search_bar_container">
    <input type="search" id="accordion_search_bar" placeholder="  Search" [(ngModel)]="searchText"
           (change)="search()" (keyup)="search()" (paste)="search()" (click)="search()"/>
  </div>

  <div class="following">
    <div class="grid-container user-grid">
      <app-user></app-user>
      <app-user></app-user>
      <app-user></app-user>
      <app-user></app-user>
      <app-user></app-user>
    </div>
  </div>

  <div class="dashboard">
    <div class="grid-container post-grid" #postContainer></div>
    <div id="footer" class="footer" [innerHtml]="footer"></div>
  </div>

</div>
