<div class="content main-page">
  <div class="following">
    <div class="grid-container user-grid">
      <app-user></app-user>
      <app-user></app-user>
      <app-user></app-user>
      <app-user></app-user>
      <app-user></app-user>
    </div>
  </div>

  <div class="dashboard">
    <div class="grid-container post-grid">

      <app-imagepost1 content="{{content}}" image="assets/images/default-img-3.jpg"></app-imagepost1>
      <app-imagepost2 content="{{content}}" image="assets/images/default-img-3.jpg"></app-imagepost2>

    </div>
    <div id="footer" class="footer" [innerHtml]="footer"></div>
  </div>

</div>
