<div class="content">
  <div id="dashboard">
    <!--<button id="button" type="button" onclick="addCard()">Add</button>-->

    <div class="grid-container">

      <div class="card">
        <div class="text-holder-odd">
          <article>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas bibendum sem placerat
              sem interdum, a suscipit enim elementum. Proin libero erat, venenatis non enim placerat,
              faucibus tristique mauris. Phasellus non turpis erat. Morbi aliquet erat mauris, molestie
              aliquam diam vehicula ac. Vivamus euismod, tellus at ullamcorper commodo, metus mi
              pharetra sapien, ac condimentum elit felis ac nisi.
            </p>
          </article>
        </div>
        <div class="img-holder-odd">
          <img src="assets/images/default-img-1.jpg" class="original-img">
        </div>
        <div class="action-bar-odd">
          <button class="stop-button">STOP PLAYING</button>
        </div>
      </div>

      <div class="card">
        <div class="img-holder-even">
          <img src="assets/images/default-img-2.jpg" class="original-img">
        </div>
        <div class="text-holder-even">
          <article >
            <p>
              Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
              Aliquam vehicula sollicitudin eros, ut faucibus odio. Etiam cursus, turpis id suscipit
              tempor, orci diam posuere nibh, posuere rutrum tellus leo sit amet sem. Suspendisse sed
              ultrices est. Nam maximus at nibh sit amet pretium.
            </p>
          </article>
        </div>
        <div class="action-bar-even">
          <button class="stop-button">STOP PLAYING</button>
        </div>
      </div>

      <div class="card">
        <div class="text-holder-odd">
          <article >
            <p>
              Integer commodo molestie dapibus. Sed vitae diam eget arcu tristique viverra in nec massa.
              Integer sollicitudin tellus quis massa fringilla dignissim at et justo. Cras vel libero
              libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus nisi id
              lacus porta, at congue sem porttitor. Maecenas vitae mauris lorem. Praesent vitae imperdiet
              dolor. Praesent dignissim eleifend pellentesque. Suspendisse ac eleifend turpis. Etiam
              tincidunt tellus erat, a tincidunt justo gravida vitae.
            </p>
          </article>
        </div>
        <div class="img-holder-odd">
          <img src="assets/images/default-img-3.jpg" class="original-img">
        </div>
        <div class="action-bar-odd">
          <button class="stop-button">STOP PLAYING</button>
        </div>
      </div>

      <div class="card">
        <div class="img-holder-even">
          <img src="assets/images/default-img-4.jpg" class="original-img">
        </div>
        <div class="text-holder-even">
          <article >
            <p>
              Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
              Aliquam vehicula sollicitudin eros, ut faucibus odio. Etiam cursus, turpis id suscipit
              tempor, orci diam posuere nibh, posuere rutrum tellus leo sit amet sem. Suspendisse sed
              ultrices est. Nam maximus at nibh sit amet pretium.
            </p>
          </article>
        </div>
        <div class="action-bar-even">
          <button class="stop-button">STOP PLAYING</button>
        </div>
      </div>

      <div class="card">
        <div class="text-holder-odd">
          <article>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas bibendum sem placerat
              sem interdum, a suscipit enim elementum. Proin libero erat, venenatis non enim placerat,
              faucibus tristique mauris. Phasellus non turpis erat. Morbi aliquet erat mauris, molestie
              aliquam diam vehicula ac. Vivamus euismod, tellus at ullamcorper commodo, metus mi
              pharetra sapien, ac condimentum elit felis ac nisi.
            </p>
          </article>
        </div>
        <div class="img-holder-odd">
          <img src="assets/images/default-img-1.jpg" class="original-img">
        </div>
        <div class="action-bar-odd">
          <button class="stop-button">STOP PLAYING</button>
        </div>
      </div>

      <div class="card">
        <div class="img-holder-even">
          <img src="assets/images/default-img-2.jpg" class="original-img">
        </div>
        <div class="text-holder-even">
          <article >
            <p>
              Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
              Aliquam vehicula sollicitudin eros, ut faucibus odio. Etiam cursus, turpis id suscipit
              tempor, orci diam posuere nibh, posuere rutrum tellus leo sit amet sem. Suspendisse sed
              ultrices est. Nam maximus at nibh sit amet pretium.
            </p>
          </article>
        </div>
        <div class="action-bar-even">
          <button class="stop-button">STOP PLAYING</button>
        </div>
      </div>

      <div class="card">
        <div class="text-holder-odd">
          <article >
            <p>
              Integer commodo molestie dapibus. Sed vitae diam eget arcu tristique viverra in nec massa.
              Integer sollicitudin tellus quis massa fringilla dignissim at et justo. Cras vel libero
              libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus nisi id
              lacus porta, at congue sem porttitor. Maecenas vitae mauris lorem. Praesent vitae imperdiet
              dolor. Praesent dignissim eleifend pellentesque. Suspendisse ac eleifend turpis. Etiam
              tincidunt tellus erat, a tincidunt justo gravida vitae.
            </p>
          </article>
        </div>
        <div class="img-holder-odd">
          <img src="assets/images/default-img-3.jpg" class="original-img">
        </div>
        <div class="action-bar-odd">
          <button class="stop-button">STOP PLAYING</button>
        </div>
      </div>

      <div class="card">
        <div class="img-holder-even">
          <img src="assets/images/default-img-4.jpg" class="original-img">
        </div>
        <div class="text-holder-even">
          <article >
            <p>
              Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
              Aliquam vehicula sollicitudin eros, ut faucibus odio. Etiam cursus, turpis id suscipit
              tempor, orci diam posuere nibh, posuere rutrum tellus leo sit amet sem. Suspendisse sed
              ultrices est. Nam maximus at nibh sit amet pretium.
            </p>
          </article>
        </div>
        <div class="action-bar-even">
          <button class="stop-button">STOP PLAYING</button>
        </div>
      </div>

    </div>
    <div id="footer" class="footer" [innerHtml]="footer"></div>
  </div>

</div>
