<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
<div class="user-profile" *ngIf="show">
  <img class="avatar" [src]="avatar" alt=""/>
  <div class="username">{{ username }}</div>
  <div class="status">{{ status }}</div>
  <ul class="data">
    <li>
      <span class="entypo-heart"> {{ hearts }}</span>
    </li>
    <li>
      <span class="entypo-eye"> {{ following }}</span>
    </li>
    <li>
      <span class="entypo-user"> {{ followers }}</span>
    </li>
    <li (click)="this.show = false;">
      <span>Unfollow</span>
    </li>
  </ul>
</div>
