<div class="image-post">
  <div class="card">
    <div class="text-holder">
      <div class="author-field">
        <b>{{ author }}</b>:
      </div>
      <article>
        <p>{{ content }}</p>
      </article>
    </div>
    <div class="img-holder">
      <img [src]="image" class="original-img" alt="">
    </div>
    <div class="action-bar">
      <button class="action-button" (click)="toggleComment()">Comment</button>
      <button class="action-button" (click)="toggleEdit()" style="border-left:0;">Edit</button>
      <button class="see-comments-button" (click)="toggleComments()">{{ btnText }}</button>
    </div>
  </div>
  <!--showComments = false; giveComment = false; editPost-->
  <div class="comment-area" *ngIf="showComments && !editPost && !giveComment">
    <div class="no-comment" *ngIf="showComments && this.comments.length === 0">
      This post has no comment yet! Shall we leave one here?
    </div>
    <div class="comment" *ngFor="let comment of comments">
      <b>{{ comment.commenter }}</b>: {{ comment.content }}
    </div>
  </div>

  <div class="comment-area" *ngIf="editPost && !showComments && !giveComment">
    <textarea></textarea>
    <button>Finish Post</button>
  </div>

  <div class="comment-area" *ngIf="giveComment && !showComments && !editPost">
    <textarea></textarea>
    <button>Finish Comment</button>
  </div>
</div>
