.image-post {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 800px !important;
  border-radius: 5px;
  margin-bottom: 20px;
}

.image-post:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.comment-area {
  position: relative;
  background-color: white;
  width: 770px !important;
  margin-top: 5px;
  padding: 15px;
}

.no-comment, .comment {
  padding: 5px;
}

.card {
  position: relative;
  background-color: white;
  height: 300px !important;
  overflow: hidden;
  display: flex;
}

.author-field {
  display: -webkit-box;
  margin-top: 20px;
  margin-left: 30px;
  overflow: hidden;
}

.img-holder {
  width: 500px !important;
  float: right;
  overflow: hidden;
}

.text-holder {
  width: 300px !important;
  height: 130px !important;
  float: left;
}

.action-bar {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 80px;
  box-sizing: border-box;
  transition: left 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  text-align: center;
}

.action-button, .see-comments-button {
  outline: none;
  position: relative;
  display: inline-block;
  line-height: 40px;
  padding: 0 16px;
  width: 150px;
  color: white;
  border: 1px solid white;
  background: #FF7171;
  -webkit-appearance: button;
  text-transform: none;
  font-family: sans-serif;
  font-size: 90%;
  vertical-align: middle;
  cursor: pointer;
}

.see-comments-button {
  width: 300px;
  bottom: 2px;
}

.action-button:hover {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.see-comments-button:hover {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

p {
  display: -webkit-box;
  margin: 10px 30px;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
}

textarea {
  border: 2px solid lightpink;
  background-color: #ffffff;
  opacity: 0.8;
  font-size: 12px;
  line-height: 20px;
  width: 90%;
}

button {
  background-color: lightpink;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  display: inline-block;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
  border: 2px solid white;
  color: white;
}

@media (max-width: 1300px) {
  .image-post {
    width: 500px !important;
  }

  .card {
    height: 500px !important;
    width: 500px !important;
    clear: both;
  }

  .author-field {
    margin-top: -5px;
  }

  .img-holder {
    position: absolute;
    margin: 0;
    clear: both;
    overflow: visible;
  }

  .text-holder {
    width: 500px !important;
    clear: both;
    padding-top: 280px;
    margin: auto;
  }

  .action-bar {
    width: 500px !important;
    height: 40px !important;
  }

  .see-comments-button {
    width: 166px;
    bottom: 0;
    border-left: 0;
  }

  .action-button {
    width: 166px;
  }

  p {
    -webkit-line-clamp: 3;
    margin-top: 10px;
  }

  .comment-area {
    width: 470px !important;
  }
}
