<div class="image-post">
  <div class="card">
    <div class="text-holder">
      <div class="author-field">
        <b>{{ author }}</b>:
      </div>
      <article>
        <p>{{ content }}</p>
      </article>
    </div>
    <div class="img-holder">
      <img [src]="image" class="original-img" alt="">
    </div>
    <div class="action-bar">
      <button class="action-button">Comment</button>
      <button class="action-button" style="border-left:0;">Edit</button>
      <button class="see-comments-button" (click)="loadComments()">{{ btnText }}</button>
    </div>
  </div>
  <div class="comment-area" *ngIf="showComments">
    <div class="no-comment" *ngIf="showComments && this.comments.length === 0">
      This post has no comment yet! Shall we leave one here?
    </div>
    <div class="comment" *ngFor="let comment of comments">
      <b>{{ comment.commenter }}</b>: {{ comment.content }}
    </div>
  </div>
</div>
