<div class="content edit-profile">

  <div class="left-pane">
    <div class="form-header">Edit Your Profile</div>
    <div class="btn btn">
      <span>Select a New Profile Picture</span>
      <input class="upload-image-input input-button" type="file" accept="image/*"
             (change)="processFile(imageInput)" #imageInput>
    </div>
    <div class="btn btn">
      <button class="upload-image-input input-button" (click)="updateAvatar()">Upload</button>
    </div>
    <div class="form-grp">
      <label>Email:</label>
      <input class="profile-input"
             autocomplete="off"
             [(ngModel)]="email"
             type="text"/>
    </div>
    <div class="form-grp">
      <label>Phone Number:</label>
      <input class="profile-input" style="width: 340px;"
             [(ngModel)]="phone"
             (change)="updatePhoneNumber()" (keyup)="updatePhoneNumber()" (paste)="updatePhoneNumber()"
             type="text" />
      <select class="custom-select" [(ngModel)]="selectedPhone" (change)="changePhoneType()">
        <option value="home">Home</option>
        <option value="work">Work</option>
        <option value="mobile">Mobile</option>
        <option value="other">Other</option>
      </select>
    </div>

    <div class="form-grp">
      <label>Address:</label>
      <input class="profile-input" autocomplete="off"
             [(ngModel)]="address_line_1" type="text"
             (change)="fillSuggestions()" (keyup)="fillSuggestions()"
             (paste)="fillSuggestions()"
             (profileClickOutside)="this.suggestions = []"/>
    </div>
    <div class="form-grp">
      <div class="autocomplete">
        <div class="autocomplete-items" *ngFor="let suggestion of suggestions"
        (click) = "fillAddress(suggestion)">
          {{ suggestion.text }}
        </div>
      </div>
    </div>

    <div class="form-grp">
      <label>Address: (Optional)</label>
      <input class="profile-input"
             [(ngModel)]="address_line_2"
             type="text"/>
    </div>

    <div style="height: 50px;">
      <div class="form-grp-addr" style="float: left">
        <label>City:</label>
        <input class="profile-input"
               [(ngModel)]="city"
               type="text"/>
      </div>
      <div class="form-grp-addr" style="float: right">
        <label>State:</label>
        <input class="profile-input"
               [(ngModel)]="state"
               type="text"/>
      </div>
    </div>

    <button id="submit-change" class="buttons submit submit-button"
            (click)="onSubmit()">Submit Changes</button>
  </div>
</div>

