<div class="content edit-profile">

  <div class="left-pane">
    <div class="form-header">Edit Your Profile</div>
    <div class="btn btn">
      <span>Select a New Profile Picture</span>
      <input class="upload-image-input input-button" type="file" accept="image/*"
             (change)="processFile(imageInput)" #imageInput>
    </div>
    <div class="btn btn">
      <button class="upload-image-input input-button" (click)="updateAvatar()">Upload</button>
    </div>
    <div class="form-grp">
      <label>Display Name</label>
      <input class="profile-input"
             autocomplete="off"
             placeholder="Current display name: {{ displayname }}"
             [(ngModel)]="dn"
             type="text"/>
    </div>
    <div class="form-grp">
      <label>Home Phone Number</label>
      <!-- change  Work phone number : {{phone}}-->
      <input class="profile-input"
             placeholder="Home phone number"
             [(ngModel)]="hph"
             type="text" />
    </div>
    <div class="form-grp">
      <label>Mobile phone Number</label>
      <!-- change  Work phone number : {{phone}}-->
      <input class="profile-input"
             placeholder="Mobile phone number" 
             [(ngModel)]="mph"
             type="text" />
    </div>

    <div class="form-grp">
      <label>SmartyStreet Address</label>
      <input class="profile-input" autocomplete="off"
             [(ngModel)]="address" type="text"
             (change)="fillSuggestions()" (keyup)="fillSuggestions()"
             (paste)="fillSuggestions()" (click)="fillSuggestions()"
             (profileClickOutside)="this.suggestions = []"/>
    </div>
      <div class="form-grp">
      <div class="autocomplete">
        <div class="autocomplete-items" *ngFor="let suggestion of suggestions"
        (click) = "this.address = suggestion">
          {{ suggestion }}
        </div>
      </div>
    </div>
    <div class="form-grp">
      <label>Address line 2</label>
      <input class="profile-input"
            placeholder="Address line2"
            [(ngModel)]="addr2"
              type="text"/>
    </div>

    <button id="submit-change" class="buttons submit submit-button"
            (click)="onSubmit()">Submit Changes</button>
  </div>

  <div class="right-pane">
    <div class="profile-msg" *ngIf="dnSuccess">
      > You have successfully updated your display name.
    </div>
    <br>
    <div class="profile-msg" *ngIf="phError">
      > Please enter a valid phone number matching the format: 000-000-0000
    </div>
    <div class="profile-msg" *ngIf="phSuccess">
      > You have successfully updated your phone number.
    </div>
    <br>
    <div class="profile-msg" *ngIf="submitted && !(pwError || pwSuccess || dnSuccess || eaError || eaSuccess ||
    phError || phSuccess || zcError || zcSuccess)">
      > Nothing have changed. Please try again.
    </div>
  </div>
</div>

